@import 'grid';
$primary-color: #313234;
$secondary-color: rgba(0, 0, 0, 0.5);
$third-color: #FFFFFF;

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row::before,
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col"] {
    float: left;
    min-height: 1px;
}

/* Nawigacja */

.header {
    background-color: $primary-color;
    height: 50px;

    .container {
        .header-nav {
            .header-image {
                padding: 10px 0;
            }

            .header-menu {
                list-style-type: none;
                padding: 0;
                margin: 0;
                float: right;

                .header-menu__item {
                    display: inline-block;

                    a {
                        line-height: 50px;
                        padding: 0 20px;
                        color: $third-color;
                        text-decoration: none;
                        text-transform: uppercase;
                        display: block;

                        &:hover {
                            background-color: grey;
                        }
                    }
                }
            }
        }
    }
}

/* Jumbotron */

section.hero {
    background-image: url("https://images.unsplash.com/photo-1505753255122-ecb7f694d6c4?ixlib=rb-0.3.5&s=7ce9d84f86fd3e5801363ccf2c1a291f&auto=format&fit=crop&w=1052&q=80");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hero-slogan {
        float: right;
        width: 50%;
        text-align: left;
        max-width: 800px;
        background: $secondary-color;
        color: $third-color;
        padding: 30px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .hero-slogan__header {
            font-weight: 300;
            margin: 0;
            font-size: 26px;

            .hero-slogan__logo {
                font-weight: 700;
            }
        }
    }
}

/* Sekcja korzyści */

section.advantages {
    .container {
        margin: 50px auto;
        text-align: center;

        .icon-box {
            padding: 0 10px;

            .icon-box__icon {
                background-color: $primary-color;
                color: $third-color;
                display: inline-block;
                text-align: center;
                width: 80px;
                height: 80px;
                border-radius: 10px;

                i {
                    line-height: 80px;
                }
            }

            .icon-box__header {
                color: $primary-color;
                font-weight: 800;
                font-size: 18px;
                margin: 10px 0;
                color: #00c7e8;
            }

            .icon-box__text {
                color: $primary-color;
                font-weight: 300;
                font-size: 12px;
                margin: 10px 0;
            }
        }
    }
}

/* Sekcja featured */

section.featured {
    .container {
        padding: 40px;

        .works-header {
            text-align: center;
            color: $primary-color;
            font-size: 39px;
            font-weight: 900;
            padding: 0;
            margin: 0;
        }

        .works-text {
            padding: 0;
            margin: 0;
            text-align: center;
            font-size: 15px;
            color: $primary-color;
        }
    }
}

/* Galeria */

section.gallery {
    .row {
        line-height: 0;
    }

    .gallery-image {
        position: relative;

        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
        }

        .layer {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            .content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: $third-color;

                .content-icon {
                    display: inline-block;
                    font-size: 30px;
                    margin: 0 5px;
                }
            }
        }
    }
}

/* Pracownicy */

section.employees {
    padding: 100px 0;

    .cover {
        border-radius: 120px;
        overflow: hidden;
        max-width: 150px;
        margin: 0 auto;
        position: relative;
    }

    img {
        display: block;
        width: 100%;
    }

    p {
        text-align: center;
        color: #959595;
        font-size: 15px;
        font-weight: bold;
    }

    .napis {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        background-color: $secondary-color;
        color: $third-color;
        line-height: 150px;
        opacity: 0;
        transition: .5s;

        &:hover {
            opacity: 1;
        }
    }
}

/* Sekcja Promocyjna */

section.awesome {
    background-color: #7D7F7E;

    .container {
        padding: 70px 70px 0 70px;
    }

    .text {
        color: $third-color;
        padding: 0px 40px 0 40px;
    }

    .h1 {
        padding-left: 15px;
    }

    .col {
        padding-left: 15px;
        padding-right: 15px;
    }

    .picture {
        border-top: 40px solid #383A39;
        border-left: 40px solid #383A39;
        border-right: 40px solid #383A39;
        border-radius: 20px 20px 0 0;
    }

    .image {
        line-height: 0;
    }

    img {
        width: 100%;
        height: 130px;
    }
}

/* Kilka Liczb */

section.numbers {
    width: 100%;
    text-align: center;
    padding: 80px 0;

    h6 {
        color: $primary-color;
        font-size: 74px;
        font-weight: 900;
        margin: 0;
    }

    p {
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #00c7e8;
        margin: 0;
    }
}

/* footer */

section.footer {
    padding-top: 20px;
    width: 100%;
    background-color: $primary-color;
    color: $third-color;
    position: center;

    .col {
        padding-left: 25px;
        padding-right: 25px;
    }

    .about {
        text-align: justify;
    }

    .icon-list a {
        background: #01C8E9;
        color: $third-color;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;

        &:hover {
            opacity: 0.8;
        }

        i {
            line-height: 40px;
            font-size: 20px;
        }
    }
}

.copyright {
    text-align: center;
    background-color: #252726;
    padding: 5px;
}

@media(min-width: 992px) {
    .layer {
        opacity: 0;
        transition: .3s ease;
        background: $secondary-color;
    }

    .gallery .gallery-image:hover .layer {
        opacity: 1;
    }

    .layer .content i:hover {
        color: #eee;
    }

    /* awesome */
    .picture {
        float: left;
    }

    .text {
        float: right;
    }
}

@media(min-width: 768px) and (max-width: 991px) {

    /*Nagłówek*/
    .header {
        height: auto;
        text-align: center;

        .container {
            .header-nav {
                .header-menu {
                    float: none;

                    .header-menu__item {
                        display: block;
                    }
                }
            }
        }
    }

    .hero {
        .hero-slogan {
            .hero-slogan__header {
                font-weight: 300;
                margin: 0;
                font-size: 20px;
            }
        }
    }

    /* Galeria */
    .gallery {
        img {
            height: 190px;
        }
    }

    .layer {
        .content {
            .content-icon {
                font-size: 20px;
            }
        }
    }

    /* awesome */
    .picture {
        float: left;
    }

    .text {
        float: right;
    }
}

@media (max-width: 767px) {

    /*Nagłówek*/
    .header {
        height: auto;
        text-align: center;

        .container {
            .header-nav {
                .header-menu {
                    float: none;

                    .header-menu__item {
                        display: block;
                    }
                }
            }
        }
    }

    .hero {
        .hero-slogan {
            .hero-slogan__header {
                font-weight: 300;
                margin: 0;
                font-size: 20px;
            }
        }
    }

    /* Galeria */
    .gallery {
        img {
            height: 190px;
        }
    }

    .layer .content i {
        font-size: 20px;
    }

    /* Awesome */
    .awesome {
        .container {
            padding: 50px 50px 0 50px;
        }

        .text {
            padding: 0px 20px 0 20px;

            h1 {
                padding-left: 5px;
            }

            col {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    /* Stopka */
    .footer {
        .container {
            padding-bottom: 20px;
        }

        h1 {
            text-align: center;
        }

        .icon-list {
            text-align: center;
        }
    }
}